<p id="notice"><%= notice %></p>

<h1>Listing Dashboard Admin Items</h1>

<table>
  <thead>
    <tr>
      <!-- <th colspan="3"></th> -->
      <th>id</th>
      <th>名稱</th>
      <th>價格</th>
      <th>管理</th>
    </tr>
  </thead>

  <tbody>
    <% @Items.each do |i| %>
      <tr>
        <th><%= i.id %></th>
        <th><%= i.name %></th>
        <th><%= i.price %></th>
        <!-- <td><%#= link_to 'Show', dashboard_admin_item %></td> -->
        <td>
          <%= link_to 'Edit', edit_dashboard_admin_item_path(i) %>
          <%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_dashboard_admin_item_path %>
