<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :header %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>

	<h1> 對外頁面:public</h1>
	
	<div>購物車數量：<span id = "cart_counter"><%= get_cart_count %> </span></div>
  <%= session[:cart] %> <br>


 <% if current_user %>


<h1>Hi <%= current_user.email %> </h1> 
<hr>
<%= link_to "log out", destroy_user_session_path, :method => 'delete' %>



 <% else %>

 <%= link_to "login", new_user_session_path %>
 <% end %>
 <%= link_to "register", new_user_registration_path %>

<%= will_paginate @paginate if @paginate %>
<hr>
<%= yield %>

<hr>

<%= will_paginate @paginate if @paginate %>



</body>
</html>
